<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="es"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Administradora Octagon 2010: Administradora de Condomios, El Paraiso,  Caracas</title>
<meta name=author content=pronet21.com>
<meta name=keywords content="administradora de condomio paraiso, administradora de condominios en el paraiso, caracas, paraiso, condominio, administradora ">
<meta name=description content="Administradora de condominio en el paraiso, caracas. Servicio premium, especialistas en gestiones de cobranzas, olvídese de la morosidad! Administradora de Condominios Paraiso Caracas">
<meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.css" rel=stylesheet>
<link href="css/simple-line-icons.css" rel=stylesheet>
<link href="css/font-awesome.min.css" rel=stylesheet>
<link href="css/prettyPhoto.css" rel=stylesheet type="text/css" media=all />
<link href="css/style.css" rel=stylesheet>
<link href="css/fileinput.min.css" rel=stylesheet>
<link href="css/lib/venobox.css" rel="stylesheet"  type="text/css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Raleway:400,700,800&amp;subsetting=all' rel=stylesheet type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700,300' rel=stylesheet type='text/css'>
<!--[if lt IE 9]>
<script src="./js/html5shiv.js"></script>
<script src="./js/respond.js"></script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
<link rel="shortcut icon" href="images/favicon/favicon.png">
<link rel=icon href="images/favicon/favicon.png">
</head>
<body data-spy=scroll data-target=.navigation>
<a href="{{constant('ROOT')}}images/popup_actualizacion_datos.png" title="Estimado propietario, actualiza tus datos" data-gall="gall1" class="venobox vbox-item" id="firstlink"></a>
<div id=banner class=bg-blur>
<div id=header>
<nav class="navbar navbar-inverse navbar-fixed-top scroll-fixed-navbar" role=navigation>
<div class=container>
<div class=navbar-header>
<button type=button class=navbar-toggle data-toggle=collapse data-target=.navbar-collapse>
<span class=sr-only>Barra Navegación</span>
<span class=icon-bar></span>
<span class=icon-bar></span>
<span class=icon-bar></span>
</button>
    <a class="navbar-brand text-logo" href="#"><img src="{{constant('ROOT')}}images/logo-2022.png"</a>
</div>
<div class="navigation navbar-collapse collapse">
<ul class="nav navbar-nav menu-right">
<li class=active><a href="#banner">Inicio</a></li>
<li><a href="#intro">Nuestra Empresa</a></li>
<li><a href="#portfolio">Servicios</a></li>
<li><a href="#features">Inmobiliaria</a></li>
<li><a href="#cobranzas">Cobranzas Morosas</a></li>
<li><a href="#contacto">Contáctenos</a></li>
</ul>
</div>
</div>
</nav>
</div>
<div class=banner-content>
<div class=container>
<div class=row>
<div class="col-md-7 col-sm-7">
<h1><strong>Administradora </strong> de Condominios</h1>
<p>Su condominio es nuestro mayor interés. Le ofrecemos servicios integrales en el área inmobiliaria.</p>
<ul class=banner-list>
<li><i class="fa fa-check"></i>Administración y Gestión de su inmueble.</li>
<li><i class="fa fa-check"></i>Cobranzas y recuperación, desalojos.</li>
<li><i class="fa fa-check"></i>Venta y Alquiler de su propiedad.</li>
<li><i class="fa fa-check"></i>Outsourcing y Asesoría (Emisión de recibos de condominio).</li>
<li><i class="fa fa-check"></i>Atención personalizada y respuestas oportunas.</li>
<li><i class="fa fa-check"></i>En El Paraiso, Caracas.</li>
</ul>
<a class="btn btn-primary btn-lg btn-transparent" href="#solvencia" data-target="#solvencia"><i class="fa fa-file-text-o"></i> Solicitud de Solvencias</a>
</div>
<div class="col-lg-4 col-md-4 col-md-offset-1 col-sm-5 widget-box visible" id="login-box">
<div class=banner-form>
<div class=form-title>
<h2>Octagon en Línea</h2>
</div>
<div class=form-body>
{% if mantenimiento %}
<p class="alert alert-warning">
    <strong>Servicio no disponible</strong><br>
Estamos efectuando labores de mantenimiento,
le pedimos disculpas por los inconvenientes causados. Regrese pronto
</p>
<div class="progress progress-mini progress-bar-striped active">
<div style="width:{{avance}}%" class="progress-bar progress-bar-striped progress-bar-success"></div>
</div>
{% else %}
<p>Ingrese el número de apartamento y su contraseña:</p>
{% if mensaje.error is defined %}
<div class="alert alert-{%if mensaje.suceed%}success{%else%}warning{%endif%}">
<a href="#" class="close">&times;</a>
<p style="color:#8a6d3b">{{ mensaje.error|raw }}</p>
</div>
{%endif %}
<form id=login-form class=form novalidate method=post action=login.php>
<section>
<input name=apto id=cedula class=form-control placeholder="Número de Apartamento">
</section>
<section>
<input name=password id=password class=form-control placeholder="Su Contraseña">
</section>
<button type=submit class="btn btn-default btn-submit">Entrar</button>
</form>
<br>
<div class="toolbar">
<a href="#" style="color:rgba(255,255,255,0.7); text-decoration:underline" data-target="#forgot-box">¿Olvidó o no tiene contraseña?</a>
</div>
{% endif %}
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-md-offset-1 col-sm-5 widget-box" id="forgot-box">
<div class="banner-form">
<div class="form-title">
<h2>Octagon en Línea</h2>
</div>
<div class="form-body">
<p>Si olvidó su contraseña o desea solicitarla por primera vez, ingrese su correo electrónico</p>
<form id="recuperar-form" class="form" novalidate="novalidate" method="post" action="login.php">
<section>
<input name="email" id="email" class="form-control" placeholder="Correo electrónico">
</section>
<button type="submit" class="btn btn-default btn-submit">Recuperar</button>
</form>
<br>
<div class="toolbar">
<a href="#" style="color:rgba(255,255,255,0.7); text-decoration:underline" data-target="#login-box"><i class="fa fa-arrow-left"></i> Regresar</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- carteleta inmueble start -->
{% if cartelera_publica %}
{% set mes = "Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic"|split(",") %}
<div id=clients class="padding40 bg-grey">
<div class=container>
<div class=row>
<div class="col-md-12 headline">
<h2>Cartelera <span class=green>Informativa </span></h2>
</div>
</div>
<div class="masonry-grid row">
{% for p in cartelera_publica %}
<div class="masonry-grid-item col-sm-12 col-md-12">
    <article data-effect-delay="200" data-animation-effect="fadeInUpSmall" class="clearfix blogpost object-non-visible animated object-visible fadeInUpSmall">
    <div class="blogpost-body">
        <div class="post-info">
            {% set i = p.fecha[5:2]|number_format %}
            <span class="day">{{p.fecha[8:2]}}</span>
            <span class="month">{{mes[i-1]}} {{p.fecha[0:4]}}</span>
        </div>
        <div class="blogpost-content">
            <header>
                <h2 style="margin-bottom: 6px">{{p.titulo}}</h2>
                <div class="submitted"><i class="fa fa-user pr-5"></i> por <a href="#">Administradora Octagon</a></div>
            </header>
            {{p.contenido|raw}}
        </div>
    </div>
    </article>
        <hr>
</div>
{% endfor %}
</div>
</div>
</div>
{% endif %}
<!-- cartelera inmueble end-->
<section id=intro class=section>
<div class=container>
<div class=row>
<div class="col-md-12 headline">
<h2>Nuestra <span class=green>Empresa </span></h2>
<p>Administradora Octagon 2010, C.A. es una empresa orientada a brindarle un servicio selecto, exclusivo y personalizado en diferentes áreas del campo inmobiliario en Venezuela, nuestra cartera de clientes avalan esta orientación lo cual nos hace sentir muy orgullos y responsables por la confianza que han depositado en nuestra empresa. Estamos ubicados en El Paraiso, Caracas.</p>
</div>
</div>
<div class=row>
<div class="col-lg-5 col-md-5">
<img src="img/inclined.png" class=img-responsive alt="" title="">
</div>
<div class="col-lg-6 col-md-6 col-md-offset-1">
<div class=features>
<i class="line-font blue fa fa-building-o"></i>
<h3>Especialistas Inmobiliarios</h3>
<p>Cuenta usted con un equipo de trabajo altamente calificado, especialistas en diversas áreas del campo inmobiliario en Venezuela. </p>
</div>
<div class=features>
<i class="line-font blue fa fa-legal"></i>
<h3>Departamento Jurídico</h3>
<p>a cargo de la firma profesional <a href="http://www.cobranzasespecializadas.com.ve/">Bufete Gioia, S.C</a>: expertos en casos relacionados el condominio: cobranza judicial, redacción de documentos, recuperación, alquiler y venta. </p>
</div>
<div class=features>
<i class="line-font blue fa fa-code"></i>
<h3>Tecnología de punta</h3>
<p>Contamos con un sistema de última generación, lo que nos permite brindarle información de manera oportuna. Octagon en línea le permite estar al día con las cuentas de su propiedad.</p>
</div>
</div>
</div>
<hr class=separator60>
<div class=row>
<div class=col-md-6>
<h2>Octagon <span class=green>en Línea</span></h2>
<p>Ponemos a su alcance un sistema web para mantenerlo informado de todo lo relacionado con su inmueble, las 24 horas del día los 365 días del año. Desde su computador, tablet o teléfono inteligente usted puede:</p>
<ul class=green-arrow>
<li>Consultar su estado de cuenta.</li>
<li>Ver, descargar y/o imprimir sus avisos de cobro y recibos de condominio.</li>
<li>Actualizar sus datos.</li>
<li>Consultar quienes son los miembros de su junta de condominio.</li>
<li>Consultar los soportes de su facturación.</li>
<li>Reportar sus pagos de condominos.</li>
<li>Estadísticas de Facturación y Cobranza.</li>
</ul>
</div>
<div class="col-md-5 col-md-offset-1">
<img src="img/diseno-responsivo.png" class=img-responsive alt="" title="">
</div>
</div>
<hr class=separator60>
<div class=row>
<div class=col-md-6>
<img src="img/condominio.jpg" class=img-responsive alt="" title="">
</div>
<div class=col-md-6>
<div class=margintop>
<h2><span class=green>Administración</span> de Condominios</h2>
<p>Le ofrecemos a su condominio soluciones innovadoras para brindarle información en el momento que usted la necesite. Algunos servicios de nuestro portafolio son:</p>
<ul class=green-arrow>
<li>Envío mensual de estado de cuenta del condominio.</li>
<li>Emisión y envío vía correo electrónico de los avisos de cobro.</li>
<li>Emisión de recibos de condominio.</li>
<li>Cobranzas semanales y diferentes modalidades de pago para sus recibos de condominio.</li>
<li>Control de la morosidad por medio de nuestro Departamento Legal.</li>
<li>Selección de personal para los trabajadores del condominio.</li>
<li>Servicio de nómina, aguinaldos, prestaciones y vacaciones.</li>
<li>Pago a proveedores y servicios básicos.</li>
<li>Gestiones de cobranzas.</li>
</ul>
</div>
</div>
</div>
</div>
</section>
<section id=three-main class="section bg-blue-pattern white-text">
<div class=container>
<div class=row>
<div class=col-lg-12>
<div class=headline>
<h2>Servicios adaptados a sus necesidades</h2>
<p><strong>No busque más!</strong> Permítamos ofrecerle una oferta de servicios personalizada.</p>
</div>
</div>
</div>
<div class="row text-center">
<div class=col-md-4>
<div class=main-point>
<i class="line-font icon-users"></i>
<h3>Atención de Calidad</h3>
<p>Profesionales enfocados en brindarles soluciones optimas a sus requerimientos. </p>
</div>
</div>
<div class=col-md-4>
<div class=main-point>
<i class="line-font icon-globe"></i>
<h3>Información oportuna</h3>
<p>Accesa a su información en forma fácil y rápido en el momento que la necesite. </p>
</div>
</div>
<div class=col-md-4>
<div class=main-point>
<i class="line-font icon-graph"></i>
<h3>Revalorice su inmueble</h3>
<p>Pagos a proveedores, mantenimientos y servicios en forma oportuna. </p>
</div>
</div>
</div>
</div>
</section>
<section id=portfolio class="section bg-grey arrow-bottom">
<div class=container>
<div class=row>
<div class=col-lg-12>
<div class=headline>
<h2>Nuestros Servicios</h2>
<p>Le ofrecemos la atención de un equipo de profesionales, con ética y honestidad, apoyados en sistemas de última tecnología para darle respuesta oportuna a sus requemientos.</p>
</div>
</div>
</div>
<div class=row>
<div class="col-md-4 col-sm-4 features">
<i class="line-font blue fa fa-gears"></i>
<h3>Administración Integral</h3>
<p>Facturación, pagos a proveedores, pagos servicios básicos, mantenimiento de áreas comunes, nómina del condominio.</p>
</div>
<div class="col-md-4 col-sm-4 features">
<i class="line-font blue fa fa-sitemap"></i>
<h3>Outsourcing Condominios</h3>
<p>Emisión, impresión y/o envío por correo electrónico recibos de condominio. <strong>(No administramos el condominio)</strong></p>
</div>
<div class="col-md-4 col-sm-4 features">
<i class="line-font blue fa fa-building-o"></i>
<h3>Avaluos y Peritajes Inmobiliarios</h3>
<p>La Administradora Octagon 2010 cuenta con expertos peritos colegiados para elaborar avaluos y peritajes sobre inmuebles.</p>
</div>
</div>
<div class=row>
<div class="col-md-4 col-sm-4 features">
<i class="line-font blue fa fa-file-text-o"></i>
<h3>Redacción de Documentos</h3>
<p>Redacción de todo tipo de documentos inmobiliarios y de condonominio: compra venta, opción de compra, hipotecas, liberaciones, contrato de arrendamiento, poderes, registros mercantiles en Venezuela, Miami y Panamá, etc.</p>
</div>
<div class="col-md-4 col-sm-4 features">
<i class="line-font blue fa fa-shield"></i>
<h3>Asesoría Inmobiliaria</h3>
<p>Antes de comprar, vender o arrendar, consulte con nuestros profesionales, le guiamos y asesoramos, asegurando rentabilidad, seguridad y confianza en su negociación.</p>
</div>
<div class="col-md-4 col-sm-4 features">
<i class="line-font blue fa fa-legal"></i>
<h3>Acciones Judiciales Condominio</h3>
<p>Nos encargamos de las acciones judiciales vía ejecutiva y convenimientos de pagos, a través nuestro Departamento Legal a cargo de la firma profesional <a href="http://www.cobranzasespecializadas.com.ve/">Bufete Giogia S.C.</a></p>
</div>
</div>
<div class=row>
<div class="col-md-4 col-sm-4 features">
<i class="line-font blue fa fa-html5"></i>
<h3>Servicio Octagon en Línea</h3>
<p>Consulte su estado de cuenta, vea, imprime y descargue sus recibos de condominio, reporte sus pagos de conomino y mucho más!.</p>
</div>
<div class="col-md-4 col-sm-4 features">
<i class="line-font blue icon-layers"></i>
<h3>Remates Judiciales</h3>
<p>Cuando un deudor no cumple con un convenio judicial de pago, se procede al remate de su inmueble cuando la sentencia este firme, y con el producto del remate se paga la obligaicón condominial.</p>
</div>
</div>
</div>
</section>
<section id=features class="section bg-blue-pattern white-text">
<div class=container>
<div class=row>
<div class=col-lg-12>
<div class=headline>
<h2>Inmobiliaria</h2>
<p>Contamos con un equipo profesional de corredores inmobiliarios dedicados exclusivamente a la promoción bien sea para alquiler o venta de su inmueble mediante técnicas específicas.</p>
</div>
</div>
</div>
<div class=row>
<div class=col-md-6>
<ul class=steps-list>
<li>
<span>1</span>
<h4>Avalúo de su inmueble</h4>
<p>le presentamos un informe técnico que permita ubicar el precio, ajustado al mercado actual.</p>
</li>
<li>
<span>2</span>
<h4>Trámites de solvencias y recaudos</h4>
<p>requeridos para la protocolización del documento de compra venta, arrendamiento, etc.</p>
</li>
<li>
<span>3</span>
<h4>Perfíl del inquilino </h4>
<p>Seleccionamos y verificamos el perfíl del inquilino de acuerdo a parámetros establecidos.</p>
</li>
</ul>
</div>
<div class=col-md-6>
<ul class=steps-list>
<li>
<span>4</span>
<h4>Asesoría Legal </h4>
<p>en la elaboración de los documentos implicados en operaciones de: opción de compra venta, protocolización, arrendamiento, etc.</p>
</li>
<li>
<span>5</span>
<h4>Expediente de la gestión compra venta</h4>
<p>con los registros de las personas que solicitan información o visitan su inmueble.</p>
</li>
<li>
<span>6</span>
<h4>Contáctenos! </h4>
<p>Es el momento de decidirse, y cierre un negocio de mucho provecho.</p>
</li>
</ul>
</div>
</div>
</div>
</section>
<section id=cobranzas class=section>
<div class=container>
<div class=row>
<div class=col-lg-12>
<div class=headline>
<h2>Cobranzas Morosas</h2>
<p>Somos especialistas en recuperaciones de deudas de condominio, desalojos de inquilinos morosos o conflictivos.</p>
</div>
</div>
</div>
<div class=row>
<div class=col-md-5>
<p>Administradora Octagon 2010, C.A. es una Empresa filial de la firma profesional de abogados <a href="http://www.cobranzasespecializadas.com.ve/" target=_blank>Bufete Gioia, S.C.</a> con el propósito de que todas sus actividades administrativas sean supervisadas directamente por dicho bufete de abogados.</p>
<p>Por su parte la cobranza morosa le corresponde de lleno al <strong>Bufete Gioia, S.C.</strong>, quien con su organización legal, procura mantener saneados los condominios de los morosos, ejerciendo la acción de recuperación de forma extrajudicial, mediante convenios de pago notariados, o en su defecto, mediante acciones judiciales (de vía ejecutiva) contundentes con petición de medidas cautelares que aseguren el inmueble.</p>
</div>
<div class=col-md-7>
<img src="img/cobranzas-morosas.jpg" class=img-responsive alt="" title="">
</div>
</div>
</div>
</section>
<section id=contacto class="section bg-blue-pattern">
<div class=container>
<div class=row>
<div class="col-lg-12 text-center white-text">
<div class=headline>
<h2><strong>¿Busca</strong> una administradora de condominio ?</h2>
<p class=subline>Complete el siguiente formulario y nos estaremos comunicando a la brevedad</p>
</div>
<div data-effect=fadeIn class="col-md-6 mg-sm animated fadeIn">
<form id="contactoform" class=text-left novalidate method=post action="#">
<div class=form-group>
<label for=email>Dirección de Correo Electrónico*</label>
<input placeholder="" id=email name=email class=form-control>
</div>
<div class=form-group>
<label for=nombre>Nombre(s) y Apellido(s)*</label>
<input placeholder="" id=nombre name=nombre class=form-control>
</div>
<div class=form-group>
<label for=mensaje>Mensaje/Consulta/Comentario*</label>
<textarea rows=6 class=form-control id=mensaje name=mensaje></textarea>
</div>
<div class="spacer small"></div>
<button type=submit class="btn btn-transparent btn-big">Enviar</button>
</form>
<div id=respuesta></div>
</div>
<div data-effect=fadeIn class="col-md-6 mg-sm text-left animated fadeIn">
<!-- Google Maps -->
<div id=map class="map map-box map-box-space margin-bottom-40"></div>
</div>
</div>
</div>
</div>
</section>
<section class="footer footer-top">
<div class=container>
<div class=row>
<div class=col-md-5>
<div class=contact-info>
<h3>Dónde estamos</h3>
<ul class=contact-list>
<li><i class=icon-directions></i> Av. José Antonio Paez con Av. Washington, Qta. San José, P.B. Local L-2. El Paraiso - Caracas</li>
<li><i class=icon-call-in></i>(0212) 451 8795 | (0212) 451 4045</li>
<li><i class=icon-envelope-open></i><a href="mailto:condominiosoctagon1@gmail.com">condominiosoctagon1@gmail.com</a></li>
</ul>
</div>
</div>
<div class=col-md-4>
<h3>Horario atención al cliente</h3>
<p>Lunes a viernes</p>
<p>8:30am - 12:30pm</p>
<p>1:30pm - 4:00pm</p>
<p>Sábados y Domingos: Cerrados</p>
</div>
<div class=col-sm-3>
<h3>Manténgase en contacto!</h3>
<p>Síguenos en nuestras redes sociales!</p>
<ul class=social>
<li class=facebook> <a href="https://www.facebook.com/emigioia"> <i class="fa fa-facebook"></i> </a> </li>
<li class=twitter> <a href="https://twitter.com/egioia"> <i class="fa fa-twitter"></i> </a> </li>
<li class=google-plus> <a href="https://instagram.com/condominiosoctagon"> <i class="fa fa-instagram"></i> </a> </li>
<li class=linkedin> <a href="https://www.linkedin.com/pub/abog-emilio-gioia/33/70b/25b"> <i class="fa fa-linkedin"></i> </a> </li>
<li><div style="width:97px;">
<a rel="nofollow" href="http://www.qweb.es/empresas-de-gestion-inmobiliaria.html" target="_blank" title="Directorio de Empresas de Gestión Inmobiliaria">
<img src="http://www.qweb.es/certqweb-www.administradora-octagon.com.ve.gif" width="97" height="31" style="border:0" alt="Directorio de Empresas de Gestión Inmobiliaria" />
</a>
</div>
</li>
</ul>
</div>
</div>
</div>
</section>
<section id=solvencia class="section bg-blue-pattern">
<div class=container>
<div class=row>
<div class="col-lg-12 text-center dark-text">
<div class=headline>
<h2><strong>Solicitud de solvencia</strong></h2>
<p class=subline>Lea cuidadosamente los requisitos para procesar la solicitud de
solvencia de condominio o hidrocapital</p>
</div>
<div data-effect=fadeIn class="col-md-6 mg-sm text-left animated fadeIn">
    <p>Para solicitar una solvencia complete el formulario adjunto,
    la administradora procesará su solicitud oportunamente.</p>
    <p><strong>Tarifas:</strong><br>
        1.- Solvencia de Condominio 5$ o su equivalente en Bs.<br/>
        2.- Solvencia de Hidrocapital 10$ o su equivalente en Bs.<br>
        2.- Constancia de Residencia Condominial 10$ o su equivalente en Bs.<br>
        <small><i><strong>Tarifas sujetas a cambio sin previo aviso</strong></i></small></p>
    <p><strong>Depositar en Banco Mercantil:</strong><br>
        Cuenta Nº 0105 0016 89 1016236948 &FilledVerySmallSquare;
        Titular: Emilio Gioia<br>
        Cédula Identidad: 6.431.482 &FilledVerySmallSquare; E-mail: <u>respuestalegal6@gmail.com</u></p>
    <p><strong>Requisitos:</strong><br>
        &checkmark; Correo electrónico del solicitante.<br>
        &checkmark; Estar solvente con el condominio.<br>
        &checkmark; Soporte de pago correspondiente a la solvencia.<br>
        <small><strong>Adicional para la solvencia de Hidrocapital:</strong></small><br>
        &checkmark; Autorización a Emilio Gioia para gestionar la solvencia.<br>
        &checkmark; Copia del la Cédula de Identidad y Copia del Rif.<br>
        <small><strong>Para la Constancia de Residencia:</strong></small><br>
        &checkmark; Copia de la cédula.<br>
        &checkmark; Nombre de la Residencia.<br>
        &checkmark; Número de apartamento.<br>
    </p>
</div>
<div data-effect=fadeIn class="col-md-6 mg-sm animated fadeIn">
<form id="solvenciaform" class="text-left" enctype="multipart/form-data" action="solvencias/index.php" method="POST">

<div class=form-group>
    <select name="tipo" class="form-control">
        <option value="" selected="selected">Tipo de Solvencia</option>
        <option value="1">Solvencia de Condominio</option>
        <option value="2">Solvencia de Hidrocapital</option>
        <option value="2">Constancia de Residencia</option>
    </select>
</div>
<div class=form-group>
<input placeholder="Nombre(s) y Apellido(s) Solicitante*" id=nombre name=nombre class=form-control>
</div>
<div class=form-group>
<input placeholder="Nombre Condominio o Edificio*" id=edificio name=edificio class=form-control>
</div>
<div class=form-group>
<input placeholder="Código o número de apartamento*" id=apartamento name=apartamento class=form-control>
</div>
<div class="col-lg-6" style="padding-left: 0">
<div class="form-group">
<input placeholder="Correo electrónico*" id="email" name=email class=form-control>
</div>
</div>
<div class="col-lg-6"  style="padding-left: 0">
<div class="form-group">
<input placeholder="Número Celular*" id="celular" name=celular class=form-control maxlength="11">
</div>
</div>
<div class="form-group">
<input id="cedula-identidad" name="cedula-identidad" type="file" class="file required" data-show-preview="false" accept="image/*" data-allowed-file-extensions='["pdf","jpg"]'>
</div>
<div class="form-group hidrocapital hide">
<input id="autorizacion" name='autorizacion' type="file" class="file" data-show-preview="false">
</div>
<div class="form-group hidrocapital hide">
<input id="documento-propiedad" name='documento-propiedad' type="file" class="file" data-show-preview="false" data-allowed-file-extensions='["pdf","jpg"]'>
</div>
<div class=form-group>
<input id="archivopago" name="archivopago" type="file" accept="image/jpeg, image/png, application/pdf" data-show-preview="false">
</div>
<div class="spacer small"></div>
<div class="form-group">
<button type=submit class="btn btn-transparent btn-big">Enviar</button>
</div>
<div class="row">
<div class="col-md-12">
<div class="form-process"></div>
</div>
</div>
</form>
<div id=respuesta></div>
</div>
</div>
</div>
</div>
</section>
<footer class="footer footer-sub">
<div class=container>
<div class=row>
<div class=col-md-4>
<p><a href="https://www.pronet21.com.ve">Diseño Web</a><a href="https://www.pronet21.com.ve"> <span class=green>Pronet21</span></a></p>
</div>
<div class=col-md-4>
<p class=empresa>&copy; 2014 - Administradora Octagon 2010 <br> Rif. J-29928573-0 </p>
</div>
<div class=col-md-4>
<p class=copyright><a href="https://www.administracion-condominio.com.ve" title="Sistema de Administración de Condominio" target="_blank">Sistema Administración de Condominios</a> <a href="https://www.administracion-condominio.com.ve" target="_blank"><span class=blue>Valoriza</span><sup class=green style="font-weight: bold">2</sup></a></p>
</div>
</div>
</div>
</footer>
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script>window.jQuery||document.write('<script src="{{ constant('ROOT') }}js/jquery-2.1.0.min.js"><\/script>')</script>
<script src="{{constant('ROOT')}}js/bootstrap.min.js"></script>
<script src="{{constant('ROOT')}}js/modernizr.min.js"></script>
<script src="{{constant('ROOT')}}js/fileinput.min.js"></script>
<script src="{{constant('ROOT')}}js/jquery-validate/jquery.validate.min.js"></script>
<script src="{{constant('ROOT')}}js/jquery-validate/jquery.form.js"></script>
<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyAqITiUkTegVlEt5u3vyPZ3dwrEfxUpgmI"></script>
<script src="{{constant('ROOT')}}js/gmap.js"></script>
<script src="{{constant('ROOT')}}js/lib/venobox.min.js"></script>
<script src="{{constant('ROOT')}}js/custom.js"></script>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-4533943-13','auto');ga('send','pageview');</script>
<script>
    var formData = new FormData();
    jQuery(document).ready(function(){Contact.initMap();});$(function(){$(document).on("click","div.alert",function(){$(".alert").hide();$("#contactoform").resetForm();$("#contactoform").fadeIn();});$("#login-form").validate({debug:true,rules:{apto:{required:true,minlength:2},password:{required:true,minlength:4,maxlength:20}},messages:{apto:{required:'Nº Apartamento es requerido',minlength:'Ingrese mímino 4 caracteres'},password:{required:'Ingrese su clave de acceso',minlength:'Deben ser mínimo 4 caracteres',maxlength:'No pueden ser más de 20 caracteres'}},submitHandler:function(form){form.submit();$("btn-submit").attr("disabled","disabled");},errorPlacement:function(error,element){error.insertBefore(element.parent());}});$("#contactoform").validate({errorClass:"invalid2",rules:{email:{required:true,email:true},nombre:{required:true},mensaje:{required:true}},messages:{email:{required:'Ingrese su correo electrónico',email:'Ingrese un correo electrónico válido'},nombre:{required:'Ingrese su nombre y apellido'},mensaje:{required:'Escriba su mensaje'}},submitHandler:function(form){$("#contactoform").ajaxSubmit({target:"#respuesta",method:"post",url:"includes/enviar_email.php",resetForm:true,beforeSubmit:function(){$("#contactoform").hide();},success:function(){$("#respuesta").fadeIn();},error:function(){$("#respuesta").fadeIn();}});},errorPlacement:function(error,element){error.insertBefore(element.parent());}});/*$(".venobox").venobox(); $("#firstlink").venobox().trigger('click');*/});
    $("#recuperar-form").validate({
        debug:true,
        rules:{
            email:{
                required:true,
                email:true}
            },
        messages:{
            email:{
                required:'El correo electrónico es requerido',
                email:'Correo electrónico inválido'}
            },
        submitHandler:function(form){
            form.submit();
            $("btn-submit").attr("disabled","disabled");},
        errorPlacement:function(error,element){
            error.insertBefore(element.parent());}
    });
    jQuery("#archivopago").fileinput({
        //uploadUrl: 'solvencias/index.php',
        //uploadAsync: false,
        initialCaption: 'Anexe copia de su pago (.pdf, .jpg)',
        browseLabel: "Seleccionar",
        browseClass: "btn btn-success",
        removeLabel: "Eliminar",
        uploadLabel: "Subir",
        showUpload: false,
});
    jQuery("#cedula-identidad").fileinput({
        initialCaption: 'Anexe copia de su cedula de indentidad (imagen)',
        browseLabel: "Seleccionar",
        browseClass: "btn btn-success",
        removeLabel: "Eliminar",
        uploadLabel: "Subir",
        allowedFileExtensions: ["image"],
        showUpload: false
    });
    jQuery("#autorizacion").fileinput({
       initialCaption:  'Anexe carta autorización',
       browseLabel:     'Seleccionar',
       browseClass:      'btn btn-success',
       removeLabel:     'Eliminar'
    });
    jQuery("#documento-propiedad").fileinput({
        initialCaption: 'Anexe copia del documento de propiedad (.pdf, .jpg)',
        browseLabel: "Seleccionar",
        browseClass: "btn btn-success",
        removeLabel: "Eliminar",
        uploadLabel: "Subir",
        allowedFileExtensions: ["pdf", "image"],
        showUpload: false
    });

    jQuery("select[name=tipo]").click(function() {
        if (jQuery(this).val()==2) {
            jQuery(".hidrocapital").removeClass('hide');
        } else {
            jQuery(".hidrocapital").addClass('hide');
        }
    });
    
    $("#solvenciaform").validate({
        
        // Rules for form validation
        rules: {
            email: {
                required: true,
                email: true
            },
            nombre: {required: true},
            edificio: {required:true},
            apartamento: {required:true,minlength:2},
            celular: {
                required: true,
                minlength:11
            },
            'cedula-identidad': {required: true}, 
            'archivopago':{required: true },
            'documento-propiedad':{required:true},
            tipo: {required:true}
        },
        // Messages for form validation
        messages: {
            email: {
                required: 'Ingrese su correo electrónico',
                email: 'Ingrese un correo electrónico válido'
            },
            nombre: {
                required: 'Ingrese su nombre y apellido'
            },
            celular: {
                required : 'Ingrese el número de celular',
                minlength: 'Debe ingresar los 11 dígitos'
            },
            edificio:{required: 'Ingrese el nombre de su edificio'},
            apartamento:{
                required: 'Ingrese el código de su apartamento',
                minlength:'Mínimo 2 caracteres'},
            'cedula-identidad': {
                required: 'Seleccione copia de su cédula de identidad'},
            'archivopago': {required: 'Anexe una copia de su pago'},
            'documento-propiedad':{required: 'Falta copia del documento de propiedad'},
            tipo:{required:'Seleccione un tipo de solvencia'}
        },
        // Do not change code below
        
        submitHandler: function(form) {
           
           $("#solvenciaform").ajaxSubmit({
                url: "solvencias/index.php",
                type: "POST",
                contentType:false,
                processData:false,
                dataType: "html",
                resetForm: true,
                beforeSubmit: function() {
                    $('.form-process').html('<p><i class="fa fa-spinner fa-spin fa-2x"></i> Espere un momento...</p>');
                },
                success: function(data) {
                    $(".form-process").html(data).fadeIn();
                    $(":file").fileinput('reset');
                    $(".hidrocapital").addClass('hide');
                },
                error: function(data) {
                    $(".form-process").html(data).fadeIn();
                }
            });
        },
        errorPlacement: function(error, element) {
            error.appendTo(element.parent());
        }
    });
    
    jQuery(document).on('click', '.toolbar a[data-target]', function(e) {
    e.preventDefault();
    var target = $(this).data('target');
    $('.widget-box.visible').removeClass('visible');//hide others
    $(target).addClass('visible');//show target
    });
</script>
</body>
</html>
