<div class="text-center">
    <h5>{{propiedad.ciudad ~ ", " ~ propiedad.estado}}</h5>
    <div class="countdown is-countdown">
        <span class="countdown-row countdown-show4">
            <span class="countdown-section">
                <span class="countdown-amount">{{propiedad.mts2}}</span>
                <span class="countdown-period">M2</span>
            </span><span class="countdown-section">
            <span class="countdown-amount">{{propiedad.habitaciones}}</span>
            <span class="countdown-period">Habitac.</span>
            </span><span class="countdown-section">
            <span class="countdown-amount">{{propiedad.baños}}</span>
            <span class="countdown-period">Baños</span>
            </span><span class="countdown-section">
            <span class="countdown-amount">{{propiedad.puestos_estacionamiento}}</span>
            <span class="countdown-period">Estac</span></span>
        </span>
    </div>
</div>