<!-- TOP NAV -->
<header id="topNav">
<div class="container">
<!-- Mobile Menu Button -->
<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
<i class="fa fa-bars"></i>
</button>
<!-- Logo -->
<a class="logo pull-left" href="{{constant('ROOT')}}">
    <img src="{{constant('ROOT')}}images/logo-2022.png" alt="" />
</a>
<!-- 
Top Nav 
AVAILABLE CLASSES:
submenu-dark = dark sub menu
-->
<div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
<nav class="nav-main">
<!--
NOTE
For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
Direct Link Example: 

<li>
<a href="#">HOME</a>
</li>
-->
<ul id="topMain" class="nav nav-pills nav-main">
<li class="active"><a href="{{constant('ROOT')}}">INICIO</a></li>
<li><a href="{{constant('ROOT')}}#intro">LA EMPRESA</a></li>
<li><a href="{{constant('ROOT')}}#portfolio">SERVICIOS</a></li>
<li><a href="{{constant('ROOT')}}#features">INMOBILIARIA</a></li>
<li><a href="{{constant('ROOT')}}#cobranzas">COBRANZAS MOROSAS</a></li>
<li><a href="{{constant('ROOT')}}#contacto">CONTACTENOS</a></li>
</ul>
</nav>
</div>
</div>
</header>
<!-- /Top Nav -->