{% if session and session.usuario %}
{% set url_base = constant('URL_INMOBILIARIA')~"/?accion=" %}
<div id="topBar">
	<div class="container">
		<ul class="top-links list-inline pull-right">
			<li class="text-welcome">{{"Bienvenido " ~ session.usuario.nombre_completo}}</li>
			<li>
				<a href="{{url_base}}publicaciones">Publicaciones</a>
			</li>
			<li>
				<a href="{{url_base}}publicar">Publicar</a>
			</li>
			{% if session and session.usuario.admin == "1" %}
				<li>
					<a href="{{url_base}}configuracion">Configuración</a>
				</li>
			{% endif %}
            <li>
				<a href="{{url_base}}salir">Cerrar Sesión</a>
			</li>
		</ul>
	</div>
</div>
{% endif %}