{% extends 'layout/base.html.twig'%}
{% block titulo %}Inmobiliaria{% endblock %}
{% block head %}
{{ parent() }}
<link href="{{constant('ROOT')}}assets/css/layout-inmobiliaria.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contenido %}
<section class="page-header parallax parallax-3" style="background-image:url('{{constant('ROOT')}}img/condominio.jpg')">
<div class="overlay dark-5"></div>
<div class="container">
<h1>Inmobiliaria</h1>
<!-- breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="{{constant('ROOT')}}">Inicio</a></li>
    <li><a href="#" class="active">Inmobiliaria</a></li>
</ol>
<!-- /breadcrumbs -->
</div>
</section>
<section style="padding-top:40px; padding-bottom: 0px; border: 0;">
<div class="container">
<div class="row">

	<div class="panel panel-default">
		<div class="panel-heading panel-heading-transparent">
			<h2 class="panel-title bold">Búsqueda avanzada</h2>
		</div>
		<div class="panel-body">
			<form action="{{constant('URL_INMOBILIARIA')}}/" method="GET">
				<fieldset>
					<!-- required [php action request] -->
					<!--input type="hidden" name="accion" value="buscar"-->
					<div class="row">
						<div class="form-group">
							<div class="col-md-2 col-sm-2">
								<label>ESTADO</label>
								<select name="id_estado" class="form-control pointer required">
									<option value="">Todos</option>
									{% for ele in estados %}
										<option value="{{ele.id_estado}}" {% if ele.id_estado == filter.id_estado %} selected  {% endif %}>{{ele.estado}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-md-2 col-sm-2">
								<label>CIUDAD</label>
								<select name="id_ciudad" class="form-control pointer required">
									<option value="">Todas</option>
									{% for ele in ciudades %}
										<option value="{{ele.id_ciudad}}" {% if ele.id_ciudad == filter.id_ciudad %} selected  {% endif %}>{{ele.ciudad}}</option>
									{% endfor %}
								</select>
							</div>

                            <div class="col-md-2 col-sm-2">
								<label>TIPO INMUEBLE</label>
								<select name="id_inmobiliaria_tipo" class="form-control pointer required">
									<option value="">Todos</option>
									{% for ele in tipo %}
										<option value="{{ele.id}}" {% if ele.id == filter.id_inmobiliaria_tipo %} selected  {% endif %}>{{ele.descripcion}}</option>
									{% endfor %}
								</select>
							</div>

                            <div class="col-md-2 col-sm-2">
								<label>OPERACION</label>
								<select name="id_operacion" class="form-control pointer required">
									<option value="">Todas</option>
									{% for ele in operacion %}
										<option value="{{ele.id}}" {% if ele.id == filter.id_operacion %} selected  {% endif %}>{{ele.descripcion}}</option>
									{% endfor %}
								</select>
							</div>

                            <div class="col-md-2 col-sm-2">
								<label>HABITACIONES</label>
								<input name="habitaciones" class="form-control required" type="number" value="{{filter.habitaciones}}">
							</div>
							<div class="col-md-2 col-sm-2">
								<label>BAÑOS</label>
								<input name="baños" class="form-control required" type="number" value="{{filter.baños}}">
							</div>
						</div>
					</div>

					<!--div class="row">
                    <div class="form-group">
                    <div class="col-md-12 col-sm-12">
                    <label>ESTADO PROPIEDAD</label>
                    <select name="estado" class="form-control pointer required">
                            <option value="0">Todos</option>
                        <option value="Nuevo">Nuevo</option>
                        <option value="Usado">Usado</option>
                        <option value="Proyecto">Proyecto</option>
                        <option value="En Construccion">En Construcción</option>
                    </select>
                    </div>
                    </div>
                    </div-->

					<!--div class="row">
						<div class="form-group">
							
						</div>
					</div-->

					<div class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-3d btn-teal btn-block margin-top-10">
								BUSCAR
							</button>
						</div>
					</div>
				</fieldset>

			</form>
		</div>
	</div>
</div>

</div>

</section>
<section style="padding: 20px 0">
    <div class="container">
    <div class="heading-title heading-dotted text-center">
            <h4>Propiedades <span>destacadas</span></h4>
    </div>
    <div class="row">
        <ul class="shop-item-list row list-inline nomargin">
        {% set i = 0 %}
        {#{dump(propiedades_destacadas)}#}
        {% for propiedad in publicaciones %}
            {% if propiedad is iterable %}
        <!-- ITEM -->
        <li class="col-lg-3 col-sm-3">

        <div class="shop-item">

        <div class="thumbnail">
                <!-- product image(s) -->
                <a class="shop-item-image" href="{{constant("ROOT")}}inmobiliaria/?accion=ver-propiedad&id={{propiedad.id}}">
                        <img class="img-responsive" src="{{ constant("ROOT")}}{{propiedad.imagen}}" alt="shop first image">
                        <!--img class="img-responsive" src="{{propiedad.galleries[0][1].url}}" alt="shop hover image"-->
                </a>
                <!-- /product image(s) -->

                <div class="shop-item-counter">
                        <div class="countdown is-countdown">
                        <span class="countdown-row countdown-show4">
                            <span class="countdown-section">
                                <span class="countdown-amount">{{propiedad.mts2}}</span>
                                <span class="countdown-period">M<sup>2</sup></span>
                            </span>
                            <span class="countdown-section">
                                <span class="countdown-amount">{{propiedad.habitaciones}}</span>
                                <span class="countdown-period">Habitac.</span>
                            </span>
                            <span class="countdown-section">
                                <span class="countdown-amount">{{propiedad.baños}}</span>
                                <span class="countdown-period">Baños</span>
                            </span>
                            <span class="countdown-section">
                                <span class="countdown-amount">{{propiedad.puestos_estacionamiento}}</span>
                                <span class="countdown-period">Estac.</span>
                            </span>
                        </span>
                        </div>
                </div>

                <!-- product more info -->
                <div class="shop-item-info">
                    {% if propiedad.id_operacion == 1 %}
                        {% set class = 'primary' %}
                    {% elseif propiedad.id_operacion == 2 %}
                        {% set class = 'sea' %}
                    {% else %}
                        {% set class = 'info' %}
                    {% endif %}
                    
                    <span class="label label-{{class}}">{{propiedad.operacion}}</span>
                    
                    {% if propiedad.id_availability == 2 %}
                    <span class="label label-danger">VENDIDA</span>
                    {% endif %}
                    {% if propiedad.id_availability == 3 %}
                    <span class="label label-danger">ALQUILADA</span>
                    {% endif %}
                </div>
                <!-- /product more info -->
        </div>

        <div class="shop-item-summary text-center">
                <div style="min-height:68px">
                <h2>{{propiedad.titulo}}</h2>
                </div>
                <!-- rating -->
                <!--div class="shop-item-rating-line">
                <div class="rating rating-4 size-13"><!-- rating-0 ... rating-5 --><!--/div>
                </div-->
                <!-- /rating -->

                <!-- price -->
                <div class="shop-item-price">
                        <!--span class="line-through">$98.00</span-->
                        <!-- moneda -->
                        {{propiedad.simbolo}}
                        {{propiedad.importe|number_format(0,",",".")}}
                </div>
                <!-- /price -->
        </div>

            <!-- buttons -->
            <div class="shop-item-buttons text-center">
                    <a class="btn btn-primary" href="{{constant("ROOT")}}inmobiliaria/?accion=ver-propiedad&id={{propiedad.id}}">Detalles <i class="fa fa-angle-right"></i></a>
            </div>
            <!-- /buttons -->
        </div>

        </li>
        <!-- /ITEM -->
            {% endif %}
        {% endfor %}
        

        </ul>
    </div>
    </div>
</section>                  
{% endblock %}
{% block javascript %}
{{parent()}}
<script type="text/javascript">

$("select[name|='id_region']").change(function() {
    $("select[name|='id_city']").attr("disabled",true);
    var datos = { id : $(this).val() };
    $.post("{{constant('ROOT')}}inmobiliaria/listar-ciudades", datos, function(ciudades) {
         
         $("select[name|='id_city']").empty();
         $("select[name|='id_city']").append("<option value=\"0\">Todas</option>");
         $.each(ciudades, function(index, ciudad) {
            if (ciudad.quantity > 0) {
                $("select[name|='id_city']").append("<option value=\"" + ciudad.id_city + "\">" + ciudad.name + " (" + ciudad.quantity + ")</option>");
            }
         });
         
     }, 'json');
     $("select[name|='id_city']").attr("disabled",false);
     
     $("select[name|='id_property_type']").attr("disabled",true);
     $("select[name|='id_property_type']").empty();
     $("select[name|='id_property_type']").append("<option value=\"0\">Todos</option>");
     var datos = { id_region: $(this).val() };
     
     $.post("{{constant('ROOT')}}inmobiliaria/listar-tipos-inmuebles", datos, function(tipos) {
         
          $.each(tipos, function(index, tipo) {
            if (tipo.quantity > 0) {
                $("select[name|='id_property_type']").append("<option value=\"" + tipo.id_property_type + "\">" + tipo.nombre + " (" + tipo.quantity + ")</option>");
            }
         });
     }, 'json');
     $("select[name|='id_property_type']").attr("disabled",false);
    
});
$("select[name|='id_city']").change(function() {
     $("select[name|='id_property_type']").attr("disabled",true);
     $("select[name|='id_property_type']").empty();
     $("select[name|='id_property_type']").append("<option value=\"0\">Todos</option>");
     var datos = { id_city: $(this).val() };
     
     $.post("{{constant('ROOT')}}inmobiliaria/listar-tipos-inmuebles", datos, function(tipos) {
         
          $.each(tipos, function(index, tipo) {
            if (tipo.quantity > 0) {
                $("select[name|='id_property_type']").append("<option value=\"" + tipo.id_property_type + "\">" + tipo.nombre + " (" + tipo.quantity + ")</option>");
            }
         });
     }, 'json');
     $("select[name|='id_property_type']").attr("disabled",false);
});
</script>
{% endblock %}
