{% extends 'layout/base.html.twig'%}
{% block titulo %}Inmobiliaria{% endblock %}
{% block head %}
{{ parent() }}
<link href="{{constant('ROOT')}}assets/css/layout-inmobiliaria.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{constant('ROOT')}}assets/plugins/dropzone/css/dropzone.css?v=1423494334">
{% endblock %}
{% block contenido %}
<section class="page-header parallax parallax-3" style="background-image:url('{{constant('ROOT')}}img/condominio.jpg')">
<div class="overlay dark-5"></div>
<div class="container">
<h1>Inmobiliaria</h1>
<!-- breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="{{constant('ROOT')}}">Inicio</a></li>
    <li><a href="#" class="active">Guardar Propiedad</a></li>
</ol>
<!-- /breadcrumbs -->
</div>
</section>

<section class="padding-xxs">
<div class="container">
<!--div class="heading-title heading-dotted text-center">
<h4>Transparent Section <span>[extra small]</span></h4>
</div-->

<div class="panel panel-default">
<div class="panel-body">
<strong>¡Bienvenido!</strong>
Por favor, haga click en <a href="?accion=publicaciones">Ver lista de propiedades</a> para administrar las publicaciones.
</div>
</div>


<form 
    action="?accion=guardar" 
    class="row clearfix validate-plugin validate"
    enctype="multipart/form-data"
    id="frmSave" 
    method="post" 
>
<div class="col-lg-7 col-sm-7">
<div class="heading-title">
<h4>Datos Generales</h4>
</div>

<fieldset>
<div class="row">
    <div class="col-lg-12">
    <label for="title">Titulo *</label>
    <input id="titulo" name="titulo" type="text" class="form-control required" value="{{propiedad.titulo}}">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
    <label for="descripcion">Descripción *</label>
    <textarea 
        class="form-control required"
        cols="40" 
        id="descripcion" 
        name="descripcion" 
        placeholder="Escriba una descripción de la propiedad" 
        rows="10" 
    >{{propiedad.descripcion}}</textarea>
    </div>
</div>
<!-- start tipo propiedad, tipo de operación -->
<div class="row">
    <div class="col-md-6 col-sm-6">
        <label for="id_inmobiliaria_tipo">Tipo de propiedad *</label>
        <select id="id_inmobiliaria_tipo" name="id_inmobiliaria_tipo" class="form-control pointer required">
            <option value="">Seleccione...</option>
            {% for ele in tipo %}
            <option value="{{ele.id}}" {% if ele.id == propiedad.id_inmobiliaria_tipo %} selected {% endif %}>{{ele.descripcion}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-6 col-sm-6">
        <label for="id_operacion">Tipo de operación *</label>
        <select id="id_operacion" name="id_operacion" class="form-control pointer required">
            <option value="">Seleccione...</option>
            {% for ele in operacion %}
            <option value="{{ele.id}}" {% if ele.id == propiedad.id_operacion %} selected {% endif %}>{{ele.descripcion}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<!-- end tipo propiedad, tipo de operación -->

<!-- start estado, municipio -->
<div class="row">
    <div class="col-md-6 col-sm-6">
        <label for="id_estado">Estado *</label>
        <select id="id_estado" name="id_estado" class="form-control pointer required">
            <option value="">Seleccione...</option>
            {% for ele in estados %}
            <option value="{{ele.id_estado}}" {% if ele.id_estado == propiedad.id_estado %} selected {% endif %}>{{ele.estado}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-6 col-sm-6">
        <label for="id_ciudad">Ciudad *</label>
        <select id="id_ciudad" name="id_ciudad" class="form-control pointer required">
            <option value="">Seleccione...</option>
            {% for ele in ciudades %}
            <option value="{{ele.id_ciudad}}" {% if ele.id_ciudad == propiedad.id_ciudad %} selected {% endif %}>{{ele.ciudad}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<!-- end estado, municipio -->

<div class="row">
    <div class="col-md-4 col-sm-4">
    <label for="zona">Localidad *</label>
    <input 
        class="form-control required"
        id="zona" 
        name="zona" 
        type="text"
        value="{{propiedad.zona}}" 
    />
    </div>

    <div class="col-md-4 col-sm-4">
    <label for="mts2">Metros 2 *</label>
    <input 
        class="form-control required"
        id="mts2" 
        name="mts2" 
        type="number" 
        value="{{propiedad.mts2}}"
    />
    </div>

    <div class="col-md-4 col-sm-4">
    <label for="habitaciones">Núm. Habitaciones *</label>
    <input 
        class="form-control required"
        id="habitaciones" 
        name="habitaciones" 
        type="number" 
        value="{{propiedad.habitaciones}}"
    />
    </div>

</div>

<div class="row">
    <div class="col-md-4 col-sm-4">
    <label for="baños">Núm. Baños *</label>
    <input 
        class="form-control required"
        id="baños" 
        name="baños" 
        type="number"
        value="{{propiedad.baños}}" 
    />
    </div>

    <div class="col-md-4 col-sm-4">
    <label for="puestos_estacionamiento">Núm. Puestos Estac. *</label>
    <input 
        class="form-control required"
        id="puestos_estacionamiento" 
        name="puestos_estacionamiento" 
        type="number" 
        value="{{propiedad.puestos_estacionamiento}}"
    />
    </div>

    <div class="col-md-4 col-sm-4">
    <label for="maleteros">Núm. Maleteros *</label>
    <input 
        class="form-control required"
        id="maleteros" 
        name="maleteros" 
        type="number" 
        value="{{propiedad.maleteros}}"
    />
    </div>
</div>
<hr>
</fieldset>
</div>
<div class="col-lg-5 col-sm-5">
    <div class="heading-title">
    <h4>Datos Adicionales</h4>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
        <label for="codigo_id">Codigo Id. *</label>
        <input 
            class="form-control required"
            id="codigo_id" 
            name="codigo_id" 
            type="text"
            maxlength="10"
            value="{{propiedad.codigo_id}}"
        />
        </div>

        <div class="col-md-4 col-sm-4">
        <label for="id_moneda">Moneda *</label>
        <select id="id_moneda" name="id_moneda" class="form-control pointer required">
            {% for ele in monedas %}
            <option value="{{ele.id}}" {% if ele.id == propiedad.id_moneda %} selected {% endif %}>{{ele.descripcion}}</option>
            {% endfor %}
        </select>
        </div>

        <div class="col-md-4 col-sm-4">
        <label for="importe">Importe *</label>
        <input 
            class="form-control required"
            id="importe" 
            name="importe" 
            type="number" 
            value="{{propiedad.importe}}"
        />
        </div>
    </div>
    <div class="heading-title">
    <h4>Imágenes propiedad</h4>
    </div>
    <!-- start drop zone -->
    <div style="float: left; width: 100%">
        <div class="row dropzone dz-clickable centered" id="previews">
            <div id="carga_imagenes">
                <div class="dz-message">
                    Arrastre las imágenes hasta aquí o haga click.<br>
                    <span class="note">&nbsp;</span>
                </div>
            </div>
        <div style="display: none;" id="template">
    
        <div class="dz-preview dz-file-preview">
        

        </div>
    </div>
    <!-- end drop zone -->
</div>
<hr>
    <button 
        class="btn btn-primary btn-lg btn-block size-15" 
        type="submit"
    ><i class="fa fa-save"></i> Guardar
    </button>

</div>
{% if propiedad %}
<input type="hidden" name="id" value="{{propiedad.id}}" />
{% endif %}
</form>
</div>
</section>            
{% endblock %}
{% block javascript %}
{{parent()}}
<script src="{{constant('ROOT')}}assets/plugins/dropzone/js/dropzone.js"></script>
<script type="text/javascript">
Dropzone.autoDiscover = false;

var previewNode = document.querySelector("#template");
previewNode.id = "";
var previewTemplate = previewNode.parentNode.innerHTML;
previewNode.parentNode.removeChild(previewNode);

var myDropzone = new Dropzone(document.body, {
    url: "{{constant('ROOT')}}images/inmobiliaria/index.php",
    previewsContainer: "#previews",
    maxFilesize: 1,
    maxFiles:5,
    acceptedFiles:"image/*",
    paramName:"file",
    addRemoveLinks: true ,
    dictRemoveFile: "Eliminar",
    renameFile: function (file) {
        const newName = new Date().getTime() + '_' + file.name.replaceAll(' ','');
        return newName;
    },
    init:function() {
        this.on("addedfile", function(file) {
            const filename = file.upload.filename;
            const inputDesc = Dropzone.createElement(`<input name="imagen[]" type="hidden" value="${filename}">`);
            file.previewElement.appendChild(inputDesc);
            file.previewElement.addEventListener("click", function() {
                    myDropzone.removeFile(filename);
            });
        });
        this.on('removedfile', function(image) {
            console.log(image);
            const filename = image.upload && image.upload.filename || image.name;
            console.log(filename);
            jQuery.getJSON(`{{constant('ROOT')}}images/inmobiliaria/deleteimage.php?name=${filename}`, function(resp) {
                console.log(resp.message, resp.image);
            });
        });
        jQuery.getJSON('{{constant('ROOT')}}images/inmobiliaria/index.php?id={{propiedad.id}}', function(data) {
            jQuery.each(data, function(index, val) {
              var mockFile = { name: val.name, size: val.size };
              myDropzone.options.addedfile.call(myDropzone, mockFile);
              myDropzone.options.thumbnail.call(myDropzone, mockFile, "{{constant('ROOT')}}images/inmobiliaria/" + val.name);
              myDropzone.emit("complete", mockFile);
              var inputDesc = Dropzone.createElement("<input name='imagen[]' type='hidden' value='" + val.name + "'>");
              mockFile.previewElement.appendChild(inputDesc);
              mockFile.previewElement.addEventListener("click", function() {
                myDropzone.removeFile(mockFile);
               });
            });
          });

    }
});

$("select[name|='id_estado']").change(function() {
    
    $("select[name|='id_ciudad']").attr("disabled",true);
    const datos = { id : $(this).val() };
    $.post("{{constant('ROOT')}}inmobiliaria/?accion=lista-ciudades-por-estado", datos, (ciudades) => {
         
         $("select[name|='id_ciudad']").empty();
         $("select[name|='id_ciudad']").append("<option value=\"\">Seleccione...</option>");
         $.each(ciudades, (index, ciudad) => {
            //if (municipio.quantity > 0) {
                $("select[name|='id_ciudad']").append("<option value=\"" + ciudad.id_ciudad + "\">" + ciudad.ciudad + "</option>");
            //}
         });
         
     }, 'json');
     $("select[name|='id_ciudad']").attr("disabled",false);
     
     //$("select[name|='id_property_type']").attr("disabled",true);
     //$("select[name|='id_property_type']").empty();
     //$("select[name|='id_property_type']").append("<option value=\"0\">Todos</option>");
     /*var datos = { id_region: $(this).val() };
     
     $.post("{{constant('ROOT')}}inmobiliaria/listar-tipos-inmuebles", datos, function(tipos) {
         
          $.each(tipos, function(index, tipo) {
            if (tipo.quantity > 0) {
                $("select[name|='id_property_type']").append("<option value=\"" + tipo.id_property_type + "\">" + tipo.nombre + " (" + tipo.quantity + ")</option>");
            }
         });
     }, 'json');
     $("select[name|='id_property_type']").attr("disabled",false);*/
    
});

/** Form Validate
************************ **/
if(jQuery('form.validate').length > 0) {

    loadScript(plugin_path + 'form.validate/jquery.form.min.js', function() {
        loadScript(plugin_path + 'form.validate/jquery.validation.min.js', function() {

            if(jQuery().validate) {

                jQuery('form.validate').each(function() {

                    const _t 		 = jQuery(this);
                    const _Cmessage  = _t.attr('data-captcha') 			|| "Invalid Captcha!";
                    const _Tposition = _t.attr('data-toastr-position') 	|| "top-right";
                    const _isEdit    = jQuery('input[name="id"]').length > 0;
                    // Append 'id' hidden input field!
                    //_t.append('<input type="hidden" name="id" value="{{propiedad.id}}" />');
                    
                    _t.validate({
                        submitHandler: function(form) {

                            // Show spin icon
                            jQuery(form).find('.input-group-addon').find('.fa-envelope').removeClass('fa-envelope').addClass('fa-refresh fa-spin');

                            jQuery(form).ajaxSubmit({

                                target: jQuery(form).find('.validate-result').length > 0 ? jQuery(form).find('.validate-result') : '',

                                error: function(data) {
                                    console.error(data); 
                                    _toastr( 
                                        "Ha ocurrido un error interno al tratar de guardar esta propiedad. Intente nuevamente más tarde",
                                        _Tposition,
                                        "error",
                                        false
                                    );
                                },

                                success: 	function(response) {
                                    const data = JSON.parse(response);
                                    const _Ttype = data.resultado.suceed ? "success" : "error";
                                    
                                    if(data.resultado.suceed) {
                                        jQuery(form).find('.input-group-addon').find('.fa-refresh').removeClass('fa-refresh fa-spin').addClass('fa-envelope');
                                        // Clear the form
                                        if(!_isEdit){

                                            jQuery(form).find('input.form-control, select, textarea').not('select[name="id_moneda"]').val('');
                                            jQuery('.dz-preview').remove();
                                            myDropzone.files = [];
                                        }
                                        
                                    }
                                    // Toastr Message
                                    _toastr(
                                        data.resultado.mensaje,
                                        _Tposition,
                                        _Ttype,
                                        false
                                    );
                                }
                            });

                        }
                    });

                });

            }

        });
    });

}
</script>
{% endblock %}
