<div class="row">
<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
<h1 class="page-title txt-color-blue"><i class="fa fa-files-o "></i> Soportes de facturación</h1>
</div>
<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
<ul id="sparks">
<li class="sparks-info">
    <h5> Prom. Facturacion <span class="txt-color-blue"><i class="fa fa-arrow-circle-{{ direccion_facturacion }}" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;{{ promedio_facturacion }}</span></h5>
    <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
        {{ movimiento_facturacion }}
        </div>
    </li>
    <li class="sparks-info">
        <h5> Prom. Cobranza <span class="txt-color-greenDark"><i class="fa fa-arrow-circle-{{ direccion_cobranza }}"></i>&nbsp;{{ promedio_cobranza }}</span></h5>
        <div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
            {{ movimiento_cobranza }}
        </div>
    </li>
</ul>
</div>
</div>
{% if resultado is defined %}
{% include 'misc/resultado.html.twig' %}
{% endif %}  
<section id="widget-grid">  
<div class="accordion" id="accordion2">
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
Listado de Pre-recibos publicados
</a>
</div>
<div id="collapseOne" class="accordion-body collapse in">
<div class="accordion-inner">
<table  class="table table-bordered table-striped responsive-utilities">
<thead>
<tr>
<th style="text-align: center">Período Facturación</th>
<th style="text-align: center">Prerecibo</th>
<th style="text-align: center">Soportes</th>
<th class="hidden">id</th>
</tr>
</thead>
<tbody>
{% if prerecibos is empty %}
<tr><td colspan="5"><div class="alert alert-error">
        <strong>Atención!</strong> No se puede cargar esta información.</div></td></tr>
{% else %}
{% for detalle in prerecibos.data %}
<tr>
<td><div class="text-center">{{detalle.periodo | date("m-Y")}}</div></td>
<td><a href="{{constant('URL_SISTEMA')}}/prerecibo/ver/{{ detalle.documento }}" title="ver">{{ detalle.documento }}</a></td>
<td>
<div class="btn-toolbar">
    <div class="btn-group">
        {% if detalle.publicado %}
            <a class="btn btn-primary btn-sm" href="{{constant('URL_SISTEMA')}}/prerecibo/ver/{{ detalle.soporte }}" title="ver"><i class="fa fa-eye-slash"></i></a>
        {% else %}
            <span class="label label-warning">No publicados</span>
        {% endif %}
    </div>
</div>
</td>
<td class="hidden">{{ detalle.id }}</td>
</tr>
{% endfor %}
{% endif %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</section>
