{% if lista %}
<ul class="notification-body">
    {% for mensaje in lista %}
    <li>
        <span class="{% if not mensaje.leido %}unread{% endif %}" id="{{mensaje.id}}">
            <em class="badge padding-5 no-border-radius bg-color-purple txt-color-white pull-left margin-right-5">
            <i class="fa fa-calendar fa-fw fa-2x"></i>
            </em>
            <span>
                <a href="javascript:void(0);" class="display-normal"><strong>Calendario</strong></a>: <span style="color:#333">{{mensaje.descripcion}} </span>
             <br>
             <strong>Cuando: {{mensaje.fecha|date('d/m/Y \\a \\l\\a\\s h:ia')}}</strong><br>
             <span class="pull-right font-xs text-muted" style="color: #999"><i>Publicado el {{mensaje.fecha_registro|date('d/m/Y \\a \\l\\a\\s h:ia')}}</i></span>
            </span>
        </span>
    </li>
    {% endfor %}
</ul>
{% else %}
<div class="alert alert-transparent">
<h4>Estimado(a) {{ session.usuario.nombre }} usted no ha recibido mensajes aún.</h4>
La bandeja de entrada está vacía.
</div>
<i class="fa fa-warning fa-4x fa-border "></i>
{% endif %}
<script type="text/javascript">
$("span.unread").click(function(){
   marcarNotificacion($(this).attr('id'));
});
function marcarNotificacion(id) {
    $.get("{{ constant('URL_SISTEMA')}}/notificaciones/leida/"+id);
    $("span#"+id).removeClass("unread");
}
</script>