<div class="row">
<!-- col -->
<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
<h1 class="page-title txt-color-blue">
<!-- PAGE HEADER -->
<i class="fa-fw fa fa-calendar"></i> 
Asambleas de Propietarios
</h1>
</div>
<!-- end col -->

<!-- right side of the page with the sparkline graphs -->
<!-- col -->
<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
<!-- sparks -->
<ul id="sparks">
<li class="sparks-info">
<h5> Prom. Facturacion <span class="txt-color-{% if direccion_facturacion == "up" %}blue{% else %}red{% endif %}"><i class="fa fa-arrow-circle-{{ direccion_facturacion }}" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;{{ promedio_facturacion }}</span></h5>
<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
{{ movimiento_facturacion }}
</div>
</li>
<li class="sparks-info">
<h5> Prom. Cobranza <span class="txt-color-{% if direccion_facturacion == "up" %}blue{% else %}red{% endif %}"><i class="fa fa-arrow-circle-{{ direccion_cobranza }}"></i>&nbsp;{{ promedio_cobranza }}</span></h5>
<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
{{ movimiento_cobranza }}
</div>
</li>   
</ul>
<!-- end sparks -->
</div>
<!-- end col -->	
</div>
<div class="row">
<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">

<!-- new widget -->
<div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" id="wid-id-3" data-widget-colorbutton="false" role="widget">

<!-- widget options:
usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

data-widget-colorbutton="false"
data-widget-editbutton="false"
data-widget-togglebutton="false"
data-widget-deletebutton="false"
data-widget-fullscreenbutton="false"
data-widget-custombutton="false"
data-widget-collapsed="true"
data-widget-sortable="false"

-->
<header role="heading">
    
<span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
<h3> Asambleas </h3>
</header>

<!-- widget div-->
<div role="content">
<!-- widget edit box -->
<div class="jarviswidget-editbox">

<input class="form-control" type="text">

</div>
<!-- end widget edit box -->

<div class="widget-body no-padding">
<!-- content goes here -->
<div class="widget-body-toolbar">

<div id="calendar-buttons">

<div class="btn-group">
<a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev"><i class="fa fa-chevron-left"></i></a>
<a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-next"><i class="fa fa-chevron-right"></i></a>
</div>
</div>
</div>
<div id="calendar" class="fc fc-ltr">
    
        
</div>

<!-- end content -->
</div>

</div>
<!-- end widget div -->
</div>
<!-- end widget -->

</article>
<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
<div class="jarviswidget jarviswidget-sortable" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">

<!-- widget options:
usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

data-widget-colorbutton="false"
data-widget-editbutton="false"
data-widget-togglebutton="false"
data-widget-deletebutton="false"
data-widget-fullscreenbutton="false"
data-widget-custombutton="false"
data-widget-collapsed="true"
data-widget-sortable="false"

-->

<header role="heading">
<span class="widget-icon"> <i class="fa fa-language"></i> </span>
<h3>Lista de Asambleas</h3>
<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

<!-- widget div-->
<div role="content">
<div class="widget-body no-padding">
<!-- content goes here -->
<!-- table responsive -->
<div class="table-responsive no-margin">

<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th>Inmueble</th>
            <th>Fecha</th>
            <th class="text-align-center">Hora</th>
            <th class="text-align-center hidden-xs">Ver</th>
        </tr>
    </thead>
    <tbody>
        {% if lista is empty %}
            <tr>
                <td colspan="4" class="text-align-center"><i>No existen asambleas registradas</i></td>
            </tr>
        {% else %}
        {% for item in lista %}
        <tr>
            <td><a href="javascript:void(0);">{{item.nombre_inmueble}}</a></td>
            <td>{{item.fecha| date("d-m-Y")}}</td>
            <td class="text-align-center hidden-xs">{{item.fecha | date("g:iA")}}</td>
            <td class="text-align-center">
            <div class="btn-group display-inline pull-right text-align-left hidden-tablet">
                <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog fa-lg"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-xs pull-right">
                    <li>
                    {% if item.convocatoria %}
                        <a href="{{constant('ROOT')}}img/asambleas/convocatoria/{{item.archivo_soporte}}" target="_blank"><i class="fa fa-file fa-lg fa-fw txt-color-greenLight"></i> Convocatoria</a>
                    {% else %}
                    Convocatoria No publicada
                    {% endif %}
                    </li>
                    {% if item.acta %}
                    <li>
                        <a href="{{constant('ROOT')}}enlinea/asambleas/verActa/{{item.archivo_acta}}" target="_blank"><i class="fa fa-file fa-lg fa-fw txt-color-greenLight"></i> Acta</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

</div>
<!-- end table responsive-->

<!-- end content -->

</div>

</div>
<!-- end widget div -->
</div>
</article>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-body">
        <img src="" id="imagepreview">
      </div>
  </div>
</div>
</div>
<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */
	pageSetUp();
	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 * 
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 * 
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){ 
	 *  loadScript(".../plugin.js", run_after_loaded);	
	 * }
	 * 
	 * OR
	 * 
	 * loadScript(".../plugin.js", run_after_loaded);
	 */
	// PAGE RELATED SCRIPTS
	// pagefunction
	var fullviewcalendar;

	var pagefunction = function() {
		
		// full calendar
		
            var date = new Date();
	    var d = date.getDate();
	    var m = date.getMonth();
	    var y = date.getFullYear();
	
	    var hdr = {
	        left: 'title',
	        center: 'month,agendaWeek,agendaDay',
	        right: 'prev,today,next'
	    };
	
	    var initDrag = function (e) {
	        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
	        // it doesn't need to have a start or end
	
	        var eventObject = {
	            title: $.trim(e.children().text()), // use the element's text as the event title
	            description: $.trim(e.children('span').attr('data-description')),
	            icon: $.trim(e.children('span').attr('data-icon')),
	            className: $.trim(e.children('span').attr('class')) // use the element's children as the event class
	        };
	        // store the Event Object in the DOM element so we can get to it later
	        e.data('eventObject', eventObject);
	
	        // make the event draggable using jQuery UI
	        e.draggable({
	            zIndex: 999,
	            revert: true, // will cause the event to go back to its
	            revertDuration: 0 //  original position after the drag
	        });
	    };
	
	    var addEvent = function (title, priority, description, icon) {
	        title = title.length === 0 ? "Untitled Event" : title;
	        description = description.length === 0 ? "No Description" : description;
	        icon = icon.length === 0 ? " " : icon;
	        priority = priority.length === 0 ? "label label-default" : priority;
	
	        var html = $('<li><span class="' + priority + '" data-description="' + description + '" data-icon="' +
	            icon + '">' + title + '</span></li>').prependTo('ul#external-events').hide().fadeIn();
	
	        $("#event-container").effect("highlight", 800);
	
	        initDrag(html);
	    };
	
	    /* initialize the external events
		 -----------------------------------------------------------------*/
	
	    $('#external-events > li').each(function () {
	        initDrag($(this));
	    });
	
	    $('#add-event').click(function () {
	        var title = $('#title').val(),
                priority = $('input:radio[name=priority]:checked').val(),
                description = $('#description').val(),
                icon = $('input:radio[name=iconselect]:checked').val();
	        addEvent(title, priority, description, icon);
	    });
	
	    /* initialize the calendar
		 -----------------------------------------------------------------*/
	
	    fullviewcalendar = $('#calendar').fullCalendar({
	
	        header: hdr,
	        buttonText: {
	            prev: '<i class="fa fa-chevron-left"></i>',
	            next: '<i class="fa fa-chevron-right"></i>'
	        },
	
	        /*drop: function (date, allDay) { // this function is called when something is dropped
	
	            // retrieve the dropped element's stored Event Object
	            var originalEventObject = $(this).data('eventObject');
	
	            // we need to copy it, so that multiple events don't have a reference to the same object
	            var copiedEventObject = $.extend({}, originalEventObject);
	
	            // assign it the date that was reported
	            copiedEventObject.start = date;
	            copiedEventObject.allDay = allDay;
	
	            // render the event on the calendar
	            // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
	            $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
	
	            // is the "remove after drop" checkbox checked?
	            if ($('#drop-remove').is(':checked')) {
	                // if so, remove the element from the "Draggable Events" list
	                $(this).remove();
	            }
	
	        },*/
	
	        select: function (start, end, allDay) {
	            var title = prompt('Event Title:');
	            if (title) {
	                calendar.fullCalendar('renderEvent', {
                            title: title,
                            start: start,
                            end: end,
                            allDay: allDay
	                    }, true // make the event "stick"
	                );
	            }
	            calendar.fullCalendar('unselect');
	        },
                events: "{{ constant('ROOT') }}enlinea/asambleas/index.php?accion=listaJSon",
	        eventRender: function (event, element, icon) {
	            if (!event.description == "") {
	                element.find('.fc-event-title').append("<br/><span class='ultra-light'>" + event.description +
	                    "</span>");
	            }
	            if (!event.icon == "") {
	                element.find('.fc-event-title').append("<i class='air air-top-right fa " + event.icon +
	                    " '></i>");
	            }
	        },
	        windowResize: function (event, ui) {
	            $('#calendar').fullCalendar('render');
	        }
	    });
	    /* hide default buttons */
	    $('.fc-header-right, .fc-header-center').hide();
		$('#calendar-buttons #btn-prev').click(function () {
		    $('.fc-button-prev').click();
		    return false;
		});
            $('#calendar-buttons #btn-next').click(function () {
                $('.fc-button-next').click();
                return false;
            });

            $('#calendar-buttons #btn-today').click(function () {
                $('.fc-button-today').click();
                return false;
            });

            $('#mt').click(function () {
                $('#calendar').fullCalendar('changeView', 'month');
            });

            $('#ag').click(function () {
                $('#calendar').fullCalendar('changeView', 'agendaWeek');
            });

            $('#td').click(function () {
                $('#calendar').fullCalendar('changeView', 'agendaDay');
            });
		
	};
	
	// end pagefunction
	
	// destroy generated instances 

	// destroy generated instances 
	// pagedestroy is called automatically before loading a new page
	// only usable in AJAX version!

	var pagedestroy = function(){

            /*
            Example below:

            $("#calednar").fullCalendar( 'destroy' );
            if (debugState){
                    root.console.log("✔ Calendar destroyed");
            } 

            For common instances, such as Jarviswidgets, Google maps, and Datatables, are automatically destroyed through the app.js loadURL mechanic

            */

            fullviewcalendar.fullCalendar( 'destroy' );
            fullviewcalendar = null;
            $("#add-event").off();
            $("#add-event").remove();

            $('#external-events > li').off();
            $('#external-events > li').remove();
            $('#add-event').off();
            $('#add-event').remove();
            $('#calendar-buttons #btn-prev').off();
            $('#calendar-buttons #btn-prev').remove();
            $('#calendar-buttons #btn-next').off();
            $('#calendar-buttons #btn-next').remove();
            $('#calendar-buttons #btn-today').off();
            $('#calendar-buttons #btn-today').remove();
            $('#mt').off();
            $('#mt').remove();
            $('#ag').off();
            $('#ag').remove();
            $('#td').off();
            $('#td').remove();

            if (debugState){
                root.console.log("✔ Calendar destroyed");
            } 
	}

	// end destroy

	// loadscript and run pagefunction
	loadScript("{{constant('ROOT')}}js/plugin/moment/moment.min.js", function(){
        loadScript("{{constant('ROOT')}}js/plugin/fullcalendar/jquery.fullcalendar.min.js", function(){
        loadScript("{{constant('ROOT')}}js/plugin/fullcalendar/es.js", pagefunction);
	});
        });
$(".pop-convocatoria").on("click", function() {
    //console.log($(this).attr('data-ref'));
   $('#imagepreview').attr('src', $(this).attr('data-ref')); // here asign the image to the modal when the user click the enlarge link
   $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
    return false;
});
        
</script>
