<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="es"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Administradora Octagon 2010: Administradora de Condomios, El Paraiso,  Caracas</title>
<meta name=author content=pronet21.com>
<meta name=keywords content="administradora de condomio paraiso, administradora de condominios en el paraiso, caracas, paraiso, condominio, administradora ">
<meta name=description content="Administradora de condominio en el paraiso, caracas. Servicio premium, especialistas en gestiones de cobranzas, olvídese de la morosidad! Administradora de Condominios Paraiso Caracas">
<meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="{{constant('ROOT')}}css/bootstrap.css" rel=stylesheet>
<link href="{{constant('ROOT')}}css/simple-line-icons.css" rel=stylesheet>
<link href="{{constant('ROOT')}}css/font-awesome.min.css" rel=stylesheet>
<link href="{{constant('ROOT')}}css/prettyPhoto.css" rel=stylesheet type="text/css" media=all />
<link href="{{constant('ROOT')}}css/style.css" rel=stylesheet>
<link href="{{constant('ROOT')}}css/fileinput.min.css" rel=stylesheet>
<link href="{{constant('ROOT')}}css/lib/venobox.css" rel="stylesheet"  type="text/css" media="screen" />
<link href="{{constant('ROOT')}}css/datepicker3.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,800&amp;subsetting=all' rel=stylesheet type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700,300' rel=stylesheet type='text/css'>
<!--[if lt IE 9]>
<script src="./js/html5shiv.js"></script>
<script src="./js/respond.js"></script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
<link rel="shortcut icon" href="images/favicon/favicon.png">
<link rel=icon href="{{constant('ROOT')}}images/favicon/favicon.png">
</head>
<body data-spy=scroll data-target=.navigation>
{% include 'misc/intrabar.html.twig' %}
{% block contenido %}
{% endblock %}
{%include 'misc/intrafooter.html.twig'%}
{% block js %}
<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet">
<script>window.jQuery||document.write('<script src="{{ constant('ROOT') }}js/jquery-2.1.0.min.js"><\/script>')</script>
<script src="{{constant('ROOT')}}js/bootstrap.min.js"></script>
<!--script src="{{constant('ROOT')}}js/modernizr.min.js"></!--script-->
<!--script src="{{constant('ROOT')}}js/fileinput.min.js"></!--script-->
<script src="{{constant('ROOT')}}js/jquery-validate/jquery.validate.min.js"></script>
<script src="{{constant('ROOT')}}js/jquery-validate/jquery.form.js"></script>
<script src="{{constant('ROOT')}}js/lib/venobox.min.js"></script>
<!--script src="{{constant('ROOT')}}js/custom.js"></!--script-->
{% endblock %}
</body>
</html>

